.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.arial {
  font-family: Arial;
}

.monospace {
  font-family: monospace;
}

.cursive {
  font-family: cursive;
}
